<p-button label="Primary"></p-button>
<p-button label="Secondary" severity="secondary"></p-button>
<p-button label="Success" severity="success"></p-button>
<p-button label="Info" severity="info"></p-button>
<p-button label="Warning" severity="warning"></p-button>
<p-button label="Help" severity="help"></p-button>
<p-button label="Danger" severity="danger"></p-button>

<p-button label="Primary" [raised]="true"></p-button>
<p-button label="Secondary" [raised]="true" severity="secondary"></p-button>
<p-button label="Success" [raised]="true" severity="success"></p-button>
<p-button label="Info" [raised]="true" severity="info"></p-button>
<p-button label="Warning" [raised]="true" severity="warning"></p-button>
<p-button label="Help" [raised]="true" severity="help"></p-button>
<p-button label="Danger" [raised]="true" severity="danger"></p-button>

<p-button icon="pi pi-check"></p-button>
<p-button icon="pi pi-bookmark" severity="secondary"></p-button>
<p-button icon="pi pi-search" severity="success"></p-button>
<p-button icon="pi pi-user" severity="info"></p-button>
<p-button icon="pi pi-bell" severity="warning"></p-button>
<p-button icon="pi pi-heart" severity="help"></p-button>
<p-button icon="pi pi-times" severity="danger"></p-button>

<p-button icon="pi pi-check" [rounded]="true"></p-button>
<p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary"></p-button>
<p-button icon="pi pi-search" [rounded]="true" severity="success"></p-button>
<p-button icon="pi pi-user" [rounded]="true" severity="info"></p-button>
<p-button icon="pi pi-bell" [rounded]="true" severity="warning"></p-button>
<p-button icon="pi pi-heart" [rounded]="true" severity="help"></p-button>
<p-button icon="pi pi-times" [rounded]="true" severity="danger"></p-button>

<p-button icon="pi pi-check" [rounded]="true" [outlined]="true"></p-button>
<p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" [outlined]="true"></p-button>
<p-button icon="pi pi-search" [rounded]="true" severity="success" [outlined]="true"></p-button>
<p-button icon="pi pi-user" [rounded]="true" severity="info" [outlined]="true"></p-button>
<p-button icon="pi pi-bell" [rounded]="true" severity="warning" [outlined]="true"></p-button>
<p-button icon="pi pi-heart" [rounded]="true" severity="help" [outlined]="true"></p-button>
<p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true"></p-button>

<p-button icon="pi pi-check" [rounded]="true" [text]="true" [raised]="true"></p-button>
<p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" [raised]="true" severity="secondary "></p-button>
<p-button icon="pi pi-search" [rounded]="true" [text]="true" [raised]="true" severity="success "></p-button>
<p-button icon="pi pi-user" [rounded]="true" [text]="true" [raised]="true" severity="info "></p-button>
<p-button icon="pi pi-bell" [rounded]="true" [text]="true" [raised]="true" severity="warning "></p-button>
<p-button icon="pi pi-heart" [rounded]="true" [text]="true" [raised]="true" severity="help "></p-button>
<p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger "></p-button>

<p-button icon="pi pi-check" [rounded]="true" [text]="true"></p-button>
<p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" severity="secondary "></p-button>
<p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="success "></p-button>
<p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="info "></p-button>
<p-button icon="pi pi-bell" [rounded]="true" [text]="true" severity="warning "></p-button>
<p-button icon="pi pi-heart" [rounded]="true" [text]="true" severity="help "></p-button>
<p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger "></p-button>

<p-button label="Emails" badge="8"></p-button>
<p-button label="Messages" icon="pi pi-users"  badge="8" badgeClass="p-badge-danger" [outlined]="true" styleClass="border-round-xl"></p-button>
