/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/bootstrap4-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/themes/primeone-light.css";
@import "primeflex/primeflex.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  font-family: 'Cascadia Code' monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: overflow 0.3s ease-in-out;
}
